<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">

    <title>Django Project - Alpha </title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/static/style.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery2.1.0.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">DjangoBlog--<small><em>Alpha</em></small></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/index">主页</a></li>
            <li><a href="/archives">Archives</a></li>
            <li><a href="/article/">article</a></li>
            <li><a href="/test">Test</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> User <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">UserCenter</li>
                <li><a href="/usercenter/">UserCenter</a></li>
                <li><a href="">Another action</a></li>
                <li><a href="">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">AdminCenter</li>
                <li><a href="/admin/">Admin</a></li>

              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <a href="/login/"><button type="button" class="btn btn-default navbar-btn">Sign In</button></a>
            <a href="/logout/"><button type="button" class="btn btn-default navbar-btn">Sign Out</button></a>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>


{% block content %}


{% endblock %}


<!--footer-->
<div id="footer">
<hr>
<center>I'm Footer</center>

</div>
<span class="glyphicon glyphicon-asterisk"></span>
<span class="glyphicon glyphicon-hand-right"></span>

  </body>
</html>
